<!DOCTYPE html>
<html>
<head>
    <title>Bluemango Web-UI</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-footer" id="idx">인덱스</p>
                        <h5 class="card-title" id="title">제목</h5>
                        <p class="card-text" id="date">날짜</p>
                        <p class="card-text" id="blue">블루</p>
                        <p class="card-text" id="from">사이트</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>