<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="slice">
<div class="scrolled" id="dv1">
</div>
</div>
<div class="slice" id="cpu_ram">
    <strong class="ft">램 사용량: </strong><strong class="ft" id="ram"></strong>
    <p></p>
    <strong class="ft">cpu 사용량: </strong><strong class="ft" id="cpu"></strong>
</div>
<h3>log</h3>
<script src="/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/croll_log.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
</body>
</html>