<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body class="all">
<div class="slice2">
<div class="scrolled" id="dv1">
</div>
</div>
<div class="slice2" id="cpu_ram">
    <strong class="ft">램 사용량: </strong><strong class="ft" id="ram"></strong>
    <br>
    <strong class="ft">cpu 사용량: </strong><strong class="ft" id="cpu"></strong>
    <br><br><br><br>
    <strong class="ft">error 출력: </strong><strong class="ft" id="cpu"></strong>
    <div class="scrolled2" id="dv2">
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/croll_log.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
</body>
</html>