body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#circle1 {
  background-color: #f83c77;
  width:10px;
  height:10px;
  border-radius:75px;
  text-align:center;
  margin:0 auto;
  vertical-align:middle;
  line-height:150px;
  display: none;
}

.search {
  margin: 1em 0;
}

.slice {
  float: left;
  width: 33%;
}

.card-list {
  height: 45em;
}

.scrolled{
  overflow-y:scroll;
  width:100%;
  height:45em;
}
.card{
  margin-bottom: 30px;
}