body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-list {
  float: left;
  width: 33%;
}
.scrolled{
  overflow-y:scroll;
  width:600px;
  height:700px;
}
.card{
  margin-bottom: 30px;
}